
@{
    ViewBag.Title = "Login";
}


@using (Html.BeginForm("Login", "Home", FormMethod.Post))
{

    <img src="~/Imagenes/Ine Logo.png"><img align="Right" src="~/Imagenes/CEE Logo.png">
    
   
        <center>
            <font size=12>
                <strong>
   Registrate
</strong>
            </font>
            </center>
       
    <body>
        <font size="6" face="arial">
            <b>
                <center>Ingresa Los datos para acceder a tu cuenta de INE</center> 
            </b>
            <br>
        </font>
        <br>
        <form class="Servicio" width="98%" margin="auto">
            <div class="Servicios">


                <center>
                    <center> <b>Ingresa LA CLAVE de elector</b></center><br />
                    <input type="text" name="Clave_Elector" placeholder="Clave de elector"><br><br />
                    <img src="~/Imagenes/clavedeelectorf.jpg" /> /><br><br /><br>
                    <b>Ingresa El CIC de tu Credencial de elector</b><br><br />
                    <input type="text" name="Clave_CIC" placeholder="Clave de CIC"><br><br />
                    <img src="~/Imagenes/cicf.jpg" /><br><br><br />
                </center>
            </div>
        </form>

       
    </body>

    
}