
@{
    ViewBag.Title = "Resultados";
}

<img src="~/Imagenes/Ine Logo.png"><img align="Right" src="~/Imagenes/CEE Logo.png">


<center>
    <font size=12>
        <strong>
            Resultados
        </strong>
    </font>
</center>

<p><font size=5>Presidente.</font>
<P>Aqui viene toda la informacion de el Presidente</P>

<font size=5>Gobernador.</font>
<p>Aqui viene toda la informacion del Gobernador</p>

<p><font size=5>Alcalde.</font>
<p>Aqui va toda informacion del Alcalde.</p>


